header {
  background: #e3c13c; }
  header #logo {
    font-family: Papyrus, fantasy; }

h1 {
  font-family: "American Typewriter" Times serif; }

nav li {
  font-family: Papyrus, fantasy;
  background: #ebda8c; }
