* { box-sizing: border-box; }

.grid {
    width: 15%;
    height: 0px;
    padding-bottom: 15%;
    float: right;
    outline: 5px solid red;
    background:url(../images/menu-button.png) no-repeat top left;
    background-size: cover;
}
