.container {
    background: url(/photos/large/2014/11/28-Hue-Carry/DIW_9850_Version2.jpg) no-repeat center center;
    background-size: 96%;
    height: 0px;
    padding-bottom: 65%;
    position: relative;
}

.content {
    position: absolute;
    bottom: 2%;
    right: 5%;
    margin-top: 0px;
}
